<a href="https://colab.research.google.com/github/HarshAhalpara-001/colab_work/blob/main/Movie_data_processiong/DAV_movie_data_procession.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Cleaning and Processing

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/Dataset/DAV-MovieDataset/tmdb_5000_movies.csv')
# print(data.head())
print(data.info())
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB
None
             budget             id   popularity       revenue      runtime  \
count  4.803000e+03    4803.000000  4803.000000  4.803000e+03  4801.000000
mean   2.904504e+07   57165.484281    21.492301  8.226064e+07   106.875859
std    4.072239e+07   88694.614033    31.816650  1.628571e+08    22.611935
min    0.000000e+00       5.000000     0.000000  0.000000e+00     0.000000
25%    7.900000e+05    9014.500000     4.668070  0.000000e+00    94.000000
50%    1.500000e+07   14629.000000    12.921594  1.917000e+07   103.000000
75%    4.000000e+07   58610.500000    28.313505  9.291719e+07   118.000000
max    3.800000e+08  459488.000000   875.581305  2.787965e+09   338.000000

       vote_average    vote_count
count   4803.000000   4803.000000
mean       6.092172    690.217989
std        1.194612   1234.585891
min        0.000000      0.000000
25%        5.600000     54.000000
50%        6.200000    235.000000
75%        6.800000    737.000000
max       10.000000  13752.000000

In [ ]:
import json
genres = data['genres'].apply(json.loads)
data['genres'] = genres.apply(lambda x: [genre_dict['name'] for genre_dict in x])
print(data['genres'])

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4798                        [Action, Crime, Thriller]
4799                                [Comedy, Romance]
4800               [Comedy, Drama, Romance, TV Movie]
4801                                               []
4802                                    [Documentary]
Name: genres, Length: 4803, dtype: object

In [ ]:
import json
keywords = data['keywords'].apply(json.loads)
data['keywords'] = keywords.apply(lambda x: [keyword_dict['name'] for keyword_dict in x])
print(data['keywords'])

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4798    [united statesâ€“mexico barrier, legs, arms, pap...
4799                                                   []
4800    [date, love at first sight, narration, investi...
4801                                                   []
4802            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4803, dtype: object

In [ ]:
import json
production_companies = data['production_companies'].apply(json.loads)
data['production_companies'] = production_companies.apply(lambda x: [genre_dict['name'] for genre_dict in x])
print(data['production_companies'])

0       [Ingenious Film Partners, Twentieth Century Fo...
1       [Walt Disney Pictures, Jerry Bruckheimer Films...
2                        [Columbia Pictures, Danjaq, B24]
3       [Legendary Pictures, Warner Bros., DC Entertai...
4                                  [Walt Disney Pictures]
                              ...
4798                                  [Columbia Pictures]
4799                                                   []
4800    [Front Street Pictures, Muse Entertainment Ent...
4801                                                   []
4802         [rusty bear entertainment, lucky crow films]
Name: production_companies, Length: 4803, dtype: object

In [ ]:
import json
production_countries = data['production_countries'].apply(json.loads)
data['production_countries'] = production_countries.apply(lambda x: [genre_dict['name'] for genre_dict in x])
print(data['production_countries'])

0       [United States of America, United Kingdom]
1                       [United States of America]
2       [United Kingdom, United States of America]
3                       [United States of America]
4                       [United States of America]
                           ...
4798            [Mexico, United States of America]
4799                                            []
4800                    [United States of America]
4801             [United States of America, China]
4802                    [United States of America]
Name: production_countries, Length: 4803, dtype: object

In [ ]:
data=data.drop('tagline',axis=1)
data=data.drop('homepage',axis=1)
data=data.drop('title',axis=1)
data=data.drop('overview',axis=1)
data=data.drop('spoken_languages',axis=1)

data.columns

Index(['budget', 'genres', 'id', 'keywords', 'original_language',
       'original_title', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime', 'status',
       'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
data['hit'] = [True if data.loc[i, 'revenue'] > data.loc[i, 'budget'] else False for i in data.index]
print(data['hit'])

0        True
1        True
2        True
3        True
4        True
        ...
4798     True
4799    False
4800    False
4801    False
4802    False
Name: hit, Length: 4803, dtype: bool

In [ ]:
data.isnull().sum()

budget                  0
genres                  0
id                      0
keywords                0
original_language       0
original_title          0
popularity              0
production_companies    0
production_countries    0
release_date            1
revenue                 0
runtime                 2
status                  0
vote_average            0
vote_count              0
hit                     0
dtype: int64

In [ ]:
data=data.dropna()
data.isnull().sum()

budget                  0
genres                  0
id                      0
keywords                0
original_language       0
original_title          0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
status                  0
vote_average            0
vote_count              0
hit                     0
dtype: int64

In [ ]:
data.to_csv('Movies.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4800 entries, 0 to 4802
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4800 non-null   int64
 1   genres                4800 non-null   object
 2   id                    4800 non-null   int64
 3   keywords              4800 non-null   object
 4   original_language     4800 non-null   object
 5   original_title        4800 non-null   object
 6   popularity            4800 non-null   float64
 7   production_companies  4800 non-null   object
 8   production_countries  4800 non-null   object
 9   release_date          4800 non-null   object
 10  revenue               4800 non-null   int64
 11  runtime               4800 non-null   float64
 12  status                4800 non-null   object
 13  vote_average          4800 non-null   float64
 14  vote_count            4800 non-null   int64
 15  hit                   4800 non-null   bool
dtypes: bool(1), float64(3), int64(4), object(8)
memory usage: 604.7+ KB

# Corelation of the data

**Practical : 6**

Aim: Data Preprocessing (Data Quality ):
Implement data smoothing and data normalization methods.
Redundancy analysis using Pearson correlation and ChiSquare. Discretization by Intuitive Partitioning

In [ ]:
correlation_data=data.copy()
correlation_data=correlation_data.drop('id',axis=1)
# print(correlation_data.head())
# print(data.describe())
# no_data=data.describe().columns
correlation_data=correlation_data.drop(correlation_data.columns.difference(correlation_data.describe().columns),axis=1)
print(correlation_data.head())

      budget  popularity     revenue  runtime  vote_average  vote_count
0  237000000  150.437577  2787965087    162.0           7.2       11800
1  300000000  139.082615   961000000    169.0           6.9        4500
2  245000000  107.376788   880674609    148.0           6.3        4466
3  250000000  112.312950  1084939099    165.0           7.6        9106
4  260000000   43.926995   284139100    132.0           6.1        2124

In [ ]:
# prompt: person corelation code

correlation_matrix = correlation_data.corr(method='pearson')
print(correlation_matrix)

                budget  popularity   revenue   runtime  vote_average  \
budget        1.000000    0.505297  0.730781  0.269792      0.092224
popularity    0.505297    1.000000  0.644654  0.225372      0.274212
revenue       0.730781    0.644654  1.000000  0.251188      0.197291
runtime       0.269792    0.225372  0.251188  1.000000      0.371888
vote_average  0.092224    0.274212  0.197291  0.371888      1.000000
vote_count    0.593102    0.778081  0.781450  0.272036      0.313693

              vote_count
budget          0.593102
popularity      0.778081
revenue         0.781450
runtime         0.272036
vote_average    0.313693
vote_count      1.000000

In [ ]:
import numpy as np
matrix=np.array(correlation_data)
print(matrix)
# print(matrix.sum(axis=1).reshape(-1,1).shape)
# print((matrix.sum(axis=0).reshape(-1,1).transpose()).shape)
expected_matrix=matrix.sum(axis=1).reshape(-1,1).dot(matrix.sum(axis=0).reshape(-1,1).transpose())/sum(matrix.sum(axis=1))
print(expected_matrix)

[[2.37000000e+08 1.50437577e+02 2.78796509e+09 1.62000000e+02
  7.20000000e+00 1.18000000e+04]
 [3.00000000e+08 1.39082615e+02 9.61000000e+08 1.69000000e+02
  6.90000000e+00 4.50000000e+03]
 [2.45000000e+08 1.07376788e+02 8.80674609e+08 1.48000000e+02
  6.30000000e+00 4.46600000e+03]
 ...
 [0.00000000e+00 1.44447600e+00 0.00000000e+00 1.20000000e+02
  7.00000000e+00 6.00000000e+00]
 [0.00000000e+00 8.57008000e-01 0.00000000e+00 9.80000000e+01
  5.70000000e+00 7.00000000e+00]
 [0.00000000e+00 1.92988300e+00 0.00000000e+00 9.00000000e+01
  6.30000000e+00 1.60000000e+01]]
[[7.89294416e+08 5.84108248e+02 2.23566038e+09 2.90343757e+03
  1.65530305e+02 1.87585150e+04]
 [3.29028615e+08 2.43493839e+02 9.31966858e+08 1.21033929e+03
  6.90036644e+01 7.81975404e+03]
 [2.93718714e+08 2.17363153e+02 8.31952283e+08 1.08045101e+03
  6.15984953e+01 6.98057251e+03]
 ...
 [3.50800244e+01 2.59605683e-05 9.93634555e+01 1.29042672e-04
  7.35695962e-06 8.33718256e-04]
 [2.91080949e+01 2.15411106e-05 8.24480866e+01 1.07074793e-04
  6.10453049e-06 6.91788290e-04]
 [2.98055168e+01 2.20572296e-05 8.44235199e+01 1.09640275e-04
  6.25079335e-06 7.08363346e-04]]

In [ ]:
chi_square_matrix=(matrix-expected_matrix)**2/expected_matrix
print(sum(chi_square_matrix.sum(axis=1)))

168039467091.19